---
import Text from "../../../../common/Text/Text.svelte";
import Title from "../../../../common/Title/Title.svelte";
import Paragraph from "./Paragraph/Paragraph.astro";
import TextTypo from "./Text/TextTypo.astro";
import Typography from "./Typography/Typography.astro";
import List from "./List/List.astro";
---

<div
  class="flex flex-col items-center lg:items-start gap-y-[134px] py-[50px] lg:py-[155px] px-[55px] bg-light-gray rounded-[70px]"
>
  <Typography />
  <Paragraph />
  <TextTypo />
  <List />
</div>
