---
import Pattern from "./Pattern/Pattern.astro";
import Progress from "./Progress/Progress.astro";
import Team from "./Team/Team.astro";
import MailBox from "./MailBox/MailBox.astro";
---

<div class="">
  <Pattern />
  <Progress />
  <Team />
  <MailBox />
</div>
