---
import Button from "../../../../common/Button/Button.svelte";
import Text from "../../../../common/Text/Text.svelte";
import Title from "../../../../common/Title/Title.svelte";
import Input from "../../../BlogDetails/Form/Input.svelte";

const inputs = ["Name", "Email", "Website", "Phone"];
const textareaName = "Hello Iam Intrested in..";
---

<div class="flex items-start gap-[100px]">
  <Title class="w-[301px] text-[50px] leading-[125%]">Contact Form</Title>
  <div class="w-[800px] flex flex-col items-end">
    <div class="flex flex-wrap items-center justify-between gap-y-[50px]">
      {inputs.map((input) => <Input name={input} />)}
      <textarea
        class="w-full outline-none text-[22px] text-slate leading-[150%] tracking-[0.22px] border-b-[1px] border-solid border-[#000] h-[175px]"
        placeholder={textareaName}></textarea>
    </div>

    <Button class="mt-[58px] py-[26px] px-[54px] flex items-center gap-2.5">
      <Text intent="secondary" color="secondary">Send Now</Text>
      <img src="/images/arrow_right.svg" alt="arrowRight" />
    </Button>
  </div>
</div>
