---
import Text from "../../../../common/Text/Text.svelte";
import Title from "../../../../common/Title/Title.svelte";

const icons = ["icon_1", "icon_2", "icon_3", "icon_4"];
const interfaces = [
  "interface_1",
  "interface_2",
  "interface_3",
  "interface_4",
  "interface_5",
];
const interfaces_1 = ["interface_6", "interface_7", "interface_8"];

const socials = ["facebook", "instagram", "linkedin", "twitter"];
---

<div
  class="py-[50px] lg:py-[144px] px-[83px] bg-light-gray rounded-[70px] flex flex-col lg:flex-row items-center lg:items-start gap-[50px] lg:gap-[132px]"
>
  <div class="flex flex-col items-center lg:items-start gap-y-[11px]">
    <Title class="text-center lg:text-left text-[25px] lg:text-[50px] leading-[125%]">Icons</Title>
    <Text class="text-center lg:text-left lg:w-[317px]">
      Little pictures that help out in various ways.
    </Text>
  </div>
  <div class="flex flex-col items-center lg:items-start gap-y-[60px]">
    <div
      class="flex flex-wrap xl:flex-nowrap items-center justify-center gap-20"
    >
      {
        icons.map((icon) => (
          <img
            class="flex items-center justify-center"
            src={"./images/Services/WorkIcon/" + icon + ".svg"}
            alt=""
          />
        ))
      }
    </div>

    <div>
      <Title class="text-center lg:text-left text-xl leading-[125%] mb-[36px]">Interface</Title>
      <div
        class="flex flex-wrap xl:flex-nowrap items-center justify-center gap-10 mb-[47px]"
      >
        {
          interfaces.map((iface) => (
            <img
              src={"./images/StyleGuide/Interface/" + iface + ".svg"}
              alt=""
            />
          ))
        }
      </div>

      <div
        class="flex flex-wrap xl:flex-nowrap items-center justify-center lg:justify-start gap-[50px]"
      >
        {
          interfaces_1.map((iface) => (
            <img
              src={"./images/StyleGuide/Interface/" + iface + ".svg"}
              alt=""
            />
          ))
        }
      </div>
    </div>

    <div class="flex flex-col gap-y-[20px] lg:gap-y-[5px]">
      <Title class="text-center lg:text-left text-xl leading-[125%] mb-4">Social Media</Title>
      <div
        class="flex flex-wrap xl:flex-nowrap items-center justify-center gap-[54px]"
      >
        {
          socials.map((social) => (
            <img
              class="h-[32px] lg:h-[22px]"
              src={"./images/Socials/" + social + ".svg"}
              alt="social"
            />
          ))
        }
      </div>
    </div>
  </div>
</div>
