---
import Text from "../../../common/Text/Text.svelte";
import Title from "../../../common/Title/Title.svelte";
---

<div data-aos="fade-right"
  data-aos-duration="1000" class="lg:max-w-[906px] flex flex-col items-center lg:items-start">
  <Title
    class="text-center lg:text-left text-[25px] lg:text-[50px] leading-[150%] tracking-[0.5px] mb-[25px]"
  >
    Photography
  </Title>
  <p
    class="text-center lg:text-left text-[22px] leading-[150%] tracking-[0.22px] font-normal"
  >
    All images used in the <span class="text-primary font-bold">Interno</span> Webflow
    Ecommerce Template are licensed for free personal and commercial use. If you'd
    like to use any specific image, you can check the licenses and download the images
    for free on <span class="font-bold">Unsplash, Pexels.</span>
  </p>
</div>
