---
import BlockQuotes from "./Styles/BlockQuotes/BlockQuotes.astro";
import Buttons from "./Styles/Buttons/Buttons.astro";
import Color from "./Styles/Color/Color.astro";
import ContactForm from "./Styles/ContactForm/ContactForm.astro";
import Icons from "./Styles/Icons/Icons.astro";
import Typo from "./Styles/Typo/Typo.astro";
---

<div class="container my-[50px] lg:my-[200px] flex flex-col gap-y-[100px]">
  <Color />
  <Typo />
  <Buttons />
  <Icons />
  <BlockQuotes />
  <ContactForm />
</div>
