---
import Text from "../../../../../common/Text/Text.svelte";
import Title from "../../../../../common/Title/Title.svelte";
import TextItem from "./TextItem.astro";

type TextData = {
  content: string;
  contentStyle: string;
};

const textData: TextData[] = [
  {
    content:
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
    contentStyle: "",
  },
  {
    content:
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
    contentStyle: "!font-bold",
  },
  {
    content:
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
    contentStyle: "italic",
  },
];
---

<div
  class="flex flex-col lg:flex-row items-center lg:items-start gap-[50px] lg:gap-[98px]"
>
  <div class="flex flex-col items-center lg:items-start gap-y-3">
    <Title class="text-center lg:text-left text-[35px] lg:text-[50px] leading-[125%]">Text</Title>
    <Text class="text-center lg:text-left lg:w-[254px]">This is some text inside of a div block.</Text>
  </div>
  <div class="flex flex-col items-center lg:items-start gap-y-[50px]">
    {
      textData.map(({ content, contentStyle }) => (
        <TextItem content={content} contentStyle={contentStyle} />
      ))
    }
  </div>
</div>
