---
import ContentItem from "./ContentItem.astro";
type ProgressData = {
  title: string;
  content: string;
  buttonName: string;
};

const progressData: ProgressData[] = [
  {
    title: "What We Do",
    content:
      "It is a long established fact that a reader will be distracted by the of readable content of a page when lookings at its layouts the points of using that it has a more-or-less normal.",
    buttonName: "Our Concept",
  },
];
---

<div class="flex flex-col lg:flex-row items-center gap-[36px]">
  {
    progressData.map(({ title, content, buttonName }) => (
      <ContentItem title={title} content={content} buttonName={buttonName} />
    ))
  }
  <img src="./images/AboutUs/Progress/concept.png" alt="" />
</div>
