---
import Text from "../../../../../common/Text/Text.svelte";
import Title from "../../../../../common/Title/Title.svelte";

export interface Props {
  title: string;
  titleSize: string;
  content: string;
}

const { title, titleSize, content }: Props = Astro.props as Props;
---

<div class="lg:w-[346px] border-b-[1px] border-black pb-[17px]">
  <Title class={"leading-[125%] mb-[11px] " + titleSize}>{title}</Title>
  <Text color="tertiary" class="leading-[125%] text-lg">
    {content}
  </Text>
</div>
