---
import Text from "../../../common/Text/Text.svelte";
import Title from "../../../common/Title/Title.svelte";
---

<div class="container lg:relative my-[100px] lg:my-[200px]">
  <div class="hidden lg:flex items-center justify-center gap-[500px]">
    <img src="./images/AboutUs/Pattern/pattern_1.svg" alt="pattern" />
    <img src="./images/AboutUs/Pattern/pattern_2.svg" alt="pattern" />
  </div>
  <div
    class="lg:absolute inset-0 mx-auto my-auto text-center flex flex-col items-center justify-center"
  >
    <Title class="text-[85px] italic leading-[80%] tracking-[1.7px]">“</Title>
    <Title
      class="lg:w-[751px] text-[20px] lg:text-[35px] italic leading-[125%] tracking-[0.7px]"
    >
      I like an interior that defies labeling. I don't really want someone to
      walk into a room and know that I did it
    </Title>
    <Text class="text-[25px] leading-[150%] tracking-[0.25px] mt-[34px]">
      -BUNNY WILLIAMS
    </Text>
  </div>
</div>
