---
import Text from "../../../../../common/Text/Text.svelte";
import Title from "../../../../../common/Title/Title.svelte";
import ParagraphItem from "./ParagraphItem.astro";

type ParagraphData = {
  title: string;
  content: string;
};

const paragraphData: ParagraphData[] = [
  {
    title: "Large Paragraph",
    content:
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
  },
  {
    title: "Medium Paragraph",
    content:
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.",
  },
  {
    title: "Small Paragraph",
    content:
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.",
  },
];
---

<div class="flex flex-col lg:flex-row items-center lg:items-start gap-[42px]">
  <div class="flex flex-col items-center lg:items-start gap-y-[19px]">
    <Title class="text-[35px] lg:text-[50px] leading-[125%]">Paragraph</Title>
    <Text class="lg:w-[310px]">
      Paragraph, body and other common text elements.
    </Text>
  </div>
  <div class="flex flex-col items-center lg:items-start gap-y-[25px]">
    {
      paragraphData.map(({ title, content }) => (
        <ParagraphItem title={title} content={content} />
      ))
    }
  </div>
</div>
