---
import Text from "../../../common/Text/Text.svelte";
import Title from "../../../common/Title/Title.svelte";

export interface Props {
  title: string;
  content: string;
}

const { title, content }: Props = Astro.props as Props;
---

<style>
  .isHidden {
    display: none;
  }
</style>

<script lang="ts">
  document.addEventListener("DOMContentLoaded", () => {
    const buttonStates = {};
    const buttons = document.querySelectorAll(".btn-question");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const contentElement = button.nextElementSibling;
        const image = button.querySelector("img");
        const title = button.querySelector(".title");

        if (contentElement && image && title) {
          const isHidden = buttonStates[button.id] !== button.id;

          buttons.forEach((otherButton) => {
            if (otherButton !== button) {
              const otherContentElement = otherButton.nextElementSibling;
              if (otherContentElement) {
                otherContentElement.classList.add("isHidden");
                buttonStates[otherButton.id] = true;

                const otherTitle = otherButton.querySelector(".title");
                if (otherTitle) {
                  otherTitle.classList.remove("text-primary");
                }
              }
            }
          });

          buttonStates[button.id] = !isHidden;

          if (isHidden) {
            contentElement.classList.remove("isHidden");
            title.classList.add("text-primary");
          } else {
            contentElement.classList.add("isHidden");
            title.classList.remove("text-primary");
          }

          const arrowImageSrc = isHidden
            ? "/images/FAQ/Icons/arrow_down.svg"
            : "/images/FAQ/Icons/arrow_up.svg";
          image.src = arrowImageSrc;
        }
      });
    });
  });
</script>

<div class="flex flex-col w-full lg:w-[585px] mb-[20px]">
  <button
    class="flex items-center justify-between w-full lg:w-[585px] btn-question pb-8 border-b-[1px] border-primary mb-[13px]"
  >
    <Title class="title text-left text-xl lg:text-[25px] leading-[150%] tracking-[0.25px]">
      {title}
    </Title>
    <img class="mr-[22px]" src="/images/FAQ/Icons/arrow_up.svg" alt="" />
  </button>
  <div class="content lg:w-[585px] isHidden mb-9">
    <Text class="text-xl lg:text-[22px]">{content}</Text>
  </div>
</div>
