---
import Title from "../../../common/Title/Title.svelte";
import Question from "../Question/Question.astro";

export interface Props {
  titleHeader: string;
  questionsData: { title: string; content: string }[];
  image: string;
  reverse: string;
}

const {
  titleHeader,
  questionsData = [],
  image,
  reverse,
}: Props = Astro.props as Props;

type QuestionData = {
  title: string;
  content: string;
};

const questions: QuestionData[] = questionsData.map(({ title, content }) => ({
  title,
  content,
}));
---

<div
  data-aos="fade-up"
  data-aos-duration="1000"
  class="flex flex-col items-center justify-between"
>
  <Title
    class="text-center text-[25px] lg:text-[50px] leading-[150%] tracking-[0.5px] mb-[50px]"
  >
    {titleHeader}
  </Title>
  <div
    class={"flex flex-col lg:flex-row items-center justify-between gap-[50px] " +
      reverse}
  >
    <div class="w-full">
      {
        questions.map(({ title, content }) => (
          <Question title={title} content={content} />
        ))
      }
    </div>
    <img src={image} alt="" />
  </div>
</div>
